# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
srto_testing_webserver
src/applications/test

# production
/build
scripts

# deployment of webserver files
public/.htaccess
public/static/.htaccess

# misc
.env.local
.env.production

notizen.md
CHANGELOG.md
__SimRail_Stations
old_folder

# future projects
src/applications/ebula
src/landingpage
public/assets/images/project-images